<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Port" value="888" />
    <add key="OutputPath" value="C:\Users\nadavr\Documents\Homework-1\NadavRefaeli\Output\" />
    <add key="FFmpegPath" value="C:\Users\nadavr\Downloads\ffmpeg-20170718-012620a-win64-static\bin\ffmpeg.exe" />
    <add key="ResourcesDirectory" value="C:\Users\nadavr\Desktop\insounds\MediaSources\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>